.homeContainer {
    padding: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
}



@media (max-width: 800px) {
    .homeContainer {
      padding: 100px 25px;
    }
  }

  @media (max-width: 500px) {
    .homeContainer {
      padding: 25px;
    }
    .nameContainer {
        width: 60%;
    }
    
  }