.workContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    /* max-width: 100%; */
}

.projectImage {
    width: 100%;
    margin: 30px;
    margin: 0 0 10px 0;
}

.projectImageText {
    font-size: 18px;
}

.workItem {
    margin-bottom: 75px;
    max-width: 600px;
}

.workTitle {
    display: flex;
    margin-bottom: 75px;
    font-size: 50px;
    /* width: 100%; */
}

@media (max-width: 800px) {
    .workContainer {
      padding: 25px;
    }
  }